.div1{
    background-color: blue;
    width: 49.9%;
    height: 50in;
    border: 2px solid black;
    float: left;
   }
.div2{
    width: 49%;
    height: 50in;
    border: 2px solid black;
    float: right;
    background-color: aqua;
    
}
header{
    background-color: aqua;
}
ul{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    
}